*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}
.container{
    background-color: rgb(60, 113, 164);
    border-radius: 10px;
    width: 600px;

    
}
.quiz{
    padding: 40px;
}
h3{
    padding: 5px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 30px;
    color: aliceblue;
}
input  {
    margin: 15px;

}

label {
    font-size: 20px;
    color: aliceblue;
    

}
 button{
     float: right;
    margin: 10px;
    width: 50px;
}
.arrow {
    width: 30px;
}

#finish{
    display: none;
    font-size: 15px;
    margin: 10px;
    width: 70px;
}